
.topnav {
  background-color: #2F4F4F;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  display: block;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.active {
  background-color: #5F9EA0;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  color: #f2f2f2;
  font-family: inherit;
  font-size: 17px;    
  margin: 0;
 /* outline: none;*/	
  padding: 16px 14px;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: darkblue;
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: darkblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("buyjunk.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 /* Set a specific height */
  height: 87%;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}



button a {
    text-decoration: none;
}

.SubjectArea {
   border-bottom: 2px solid lightgray;   
   color: #F15A22;
   font-family: Tahoma, sans-serif;
   
}

body{
    background-color: #f1f1f1;
}
p, a {
    font-family: serif;
    margin: 3px;
    padding: 2px;
}

h2.SubjectArea {
    background-color: #f1f1f1;
    border-bottom: 2px solid lightgray;
    color: #F15A22;
    font-family: serif;
    font-size: 1em;
    margin: 30px 10px 10px 10px;
    max-width: 95%;
    padding-bottom: 5px;
}

.backtotop {
	color: darkblue;
    display: flex;
    justify-content: space-around;
  }

.NewTitleGoNow {
    background-color: black;
    color: white;
    max-width: 170px;
    padding: 5px;
    text-decoration: none;
}
.NewTitleContainer {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row; 
    margin: 10px;
    max-width: 95%;
    padding-bottom: 10px;
    /*transition: 0.3s;*/
}

.Selected {
    background-color: pink;
}
.NewTitleCover {
    margin: 5px;
}

.NewTitleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 10px;
}

.NewTitleInfoFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NewTitleCover img {
    max-width: 120px;
    padding-left: 5px; 
    padding-top: 5px;
  
   
}

.NewTitleTitle {
   color: #40192B;
   font-size: 1.2em; font-weight: bold;
    
}
 
.NewTitleAuthor {
    color: dimgray;
    font-size: 1.1em;
}
.video {
    height: 0; 
    max-width: 100%;
    overflow: hidden; 
    padding-bottom: 56.25%; 
    position: relative; 
}

.video iframe, .videos object, .video embed {
    height:100%; 
    left:0; 
    position:absolute;
    top:0; 
    width:100%; 
}